/* Tambahkan styling tambahan jika diperlukan */
body {
  background-color: #f8f9fa;
}

h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.navbar-brand {
  font-weight: bold;
}

.contact p {
  margin: 5px 0;
}
